<!-- Tailwind UI notice-->
<div class="relative z-10 md:ml-64">
  <% if notice.present? && !user_signed_in? %>
    <div class="relative px-6 py-4 mb-4 text-white border-0 rounded bg-blueGray-700 z-2">
      <span class="inline-block mr-5 text-xl align-middle">
        <i class="fas fa-bell"></i>
      </span>
      <span class="inline-block mr-8 align-middle">
        <%= notice %>
      </span>
      <button class="absolute top-0 right-0 mt-4 mr-6 text-2xl font-semibold leading-none bg-transparent outline-none focus:outline-none">
        <span>×</span>
      </button>
    </div>
  <% end %>
  <% if alert.present? %>
    <div class="relative px-6 py-4 mb-4 text-white bg-red-500 border-0 rounded">
      <span class="inline-block mr-5 text-xl align-middle">
        <i class="fas fa-bell"></i>
      </span>
      <span class="inline-block mr-8 align-middle">
        <%= alert %>
      </span>
      <button class="absolute top-0 right-0 mt-4 mr-6 text-2xl font-semibold leading-none bg-transparent outline-none focus:outline-none">
        <span>×</span>
      </button>
    </div>
  <% end %>
</div>